<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjjybsgj.common.jiaoyan.mapper.jiaoyanMapper">
	<resultMap id="SourceDbMap" type="com.sjjybsgj.source_db.model.SourceDb">
		<id column="DB_SOURCE_ID" jdbcType="VARCHAR" property="dbSourceId" />
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="CONNECT_NAME" jdbcType="VARCHAR" property="connectName" />
		<result column="DB_NAME" jdbcType="VARCHAR" property="dbName" />
		<result column="IP" jdbcType="VARCHAR" property="ip" />
		<result column="PORT" jdbcType="INTEGER" property="port" />
		<result column="DB_USER_NAME" jdbcType="VARCHAR" property="dbUserName" />
		<result column="DB_PASSWORD" jdbcType="VARCHAR" property="dbPassword" />
		<result column="DB_TYPE" jdbcType="INTEGER" property="dbType" />
	</resultMap>

	<resultMap id="TableRuleMap" type="com.sjjybsgj.rule_table.model.RuleTable">
		<id column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
		<result column="DB_NAME" jdbcType="VARCHAR" property="dbName" />
		<result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
		<result column="CLOUMN_NAME" jdbcType="VARCHAR" property="cloumnName" />
		<result column="RANGE_VALUE" jdbcType="LONGVARCHAR" property="rangeValue" />
		<result column="COMPLEX" jdbcType="LONGVARCHAR" property="complex" />
	</resultMap>



	<resultMap id="StandardDbMap" type="com.sjjybsgj.standard_db.model.StandardDb">
		<!-- WARNING - @mbg.generated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sun May 27 
			19:07:39 CST 2018. -->
		<id column="DB_RULE_ID" jdbcType="VARCHAR" property="dbRuleId" />
		<result column="DB_NAME" jdbcType="VARCHAR" property="dbName" />
		<result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
		<result column="RULE_DATE" jdbcType="TIMESTAMP" property="ruleDate" />
		<result column="IF_VAILD" jdbcType="INTEGER" property="ifVaild" />
	</resultMap>



  <resultMap id="CheckedLogtMap" type="com.sjjybsgj.checked_log.model.CheckedLog">
    <id column="LOG_ID" jdbcType="VARCHAR" property="logId" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="RULE_ID" jdbcType="VARCHAR" property="ruleId" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="DB_NAME" jdbcType="VARCHAR" property="dbName" />
    <result column="CLOUMN_NAME" jdbcType="VARCHAR" property="cloumnName" />
    <result column="RULE_TYPE" jdbcType="VARCHAR" property="ruleType" />
    <result column="IF_PASS" jdbcType="INTEGER" property="ifPass" />
    <result column="INFO" jdbcType="VARCHAR" property="info" />
    <result column="VAILD_DATE" jdbcType="TIMESTAMP" property="vaildDate" />
  </resultMap>
	<!-- 这里是获取校验规则 -->
	<select id="getjiaoyantableRule" resultType="java.util.Map"
		parameterType="java.lang.String">
		SELECT * FROM rule_table where DB_NAME = #{dbName}
	</select>

	<!-- 获得一库里面所有表的规则 -->
	<select id="getjiaoyanSource" resultMap="SourceDbMap"
		parameterType="java.util.HashMap">
		SELECT * FROM SOURCE_DB WHERE USER_ID =
		#{userId} AND
		DB_NAME = #{dbName}
	</select>
	
	
	<!-- 获得一库里面所有表的规则 -->
	<select id="getjiaoyanDbnamebyUserId" resultMap="SourceDbMap"
		parameterType="java.util.HashMap">
		SELECT * FROM SOURCE_DB WHERE USER_ID = #{userId} 
	</select>


	<!-- 获得库里面所有标准表的规则 -->
	<select id="getStandardDb" resultMap="StandardDbMap"
		parameterType="java.util.HashMap">
		SELECT * FROM STANDARD_DB WHERE DB_NAME = #{dbName}
	</select>

	<!-- 获取所有上传通过的表 -->
	<select id="getUpdatedTabel" resultType="java.lang.String"
		parameterType="java.lang.String">
		SELECT TABLE_NAME FROM CHECKED_LOG where USER_ID = #{userId} and RULE_TYPE='上传' AND IF_PASS=1 
		AND VAILD_DATE>DATE_SUB(CURDATE(), INTERVAL 10 DAY) ;
	</select>

</mapper>